.status {

    padding: 15px;
    font-size: 20px;

}

.status-div {
    display: flex;
    float: left;
    flex-direction: row;
    position: absolute;
    top: 100px;
    left: 110px;
}

.t-btn {
    display: flex;
    float: left;
    flex-direction: row;
    position: absolute;
    top: 190px;
    left: 110px;
}


#templates-btn {
    padding: 8px;
    text-align: center;
    margin: 10px;
    background-color: rgb(196, 193, 193);
    border: none;
    border-radius: 5px;
}

#t-name-btn {
    padding: 8px;
    text-align: center;
    margin: 10px;
    background-color: rgb(196, 193, 193);
    border: none;
    border-radius: 5px;
}

#t-state-btn {
    padding: 8px;
    text-align: center;
    margin: 10px;
    background-color: rgb(196, 193, 193);
    border: none;
    border-radius: 5px;
}

.sync-btn-div {

    position: absolute;
    left: 1030px;

}

#sync-btn {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
}